body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

nav {
  background-color: white;
  margin: 0;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li img {
  width: 70px;
  padding-top: 21px;
  padding-left: 20px;
}
nav ul li a {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #222222;
  text-decoration: none;
  line-height: 5.5em;
  padding: 1em 1em;
}
nav ul li a:hover {
  text-decoration: underline;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a.logo {
  width: 100px;
}
nav ul li a.logo img {
  width: 70px;
  padding-top: 10px;
}

.advancedSearch {
  height: 53px;
}
.advancedSearch h1 {
  color: #d93025;
  font-size: 20px;
  font-family: arial, sans-serif;
  text-align: start;
  font-weight: 1;
  padding-left: 40px;
  padding-bottom: 15px;
}
.advancedSearch hr {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  border: none;
}

h1 {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #333333;
  font-weight: 1;
}

h2 {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #777777;
}

p {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #555555;
}

.midp {
  font-size: 13px;
  color: #202124;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}

span {
  font-family: monospace;
  font-size: 11px;
  color: #666666;
}

.prevlines {
  padding-left: 40px;
}

.lastline {
  margin-left: -3px;
}

label {
  text-align: left;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #222222;
}

.larger input[type=text] {
  width: 98%;
  height: 25px;
  border: 1px solid #e8e8e8;
  border-radius: 0;
}
.larger input[type=text]:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
  border: 1px solid #038cfc;
  outline: none;
}

.fpages {
  width: 190px;
}

.smaller input[type=text] {
  width: 98%;
  max-width: 250px;
  height: 25px;
  border: 1px solid #e8e8e8;
  border-radius: 0;
}
.smaller input[type=text]:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px inset;
  border: 1px solid #038cfc;
  outline: none;
}

input[type=submit] {
  float: right;
  background-color: #4d90fe;
  font-family: arial;
  color: white;
  font-weight: bold;
  font-size: 11px;
  border-radius: 2px;
  line-height: 11px;
  border-color: #4d90fe;
  width: 125px;
  padding: 8px;
  border-width: 1px;
}

input[type=submit]:hover {
  box-shadow: white 0px 0px 0px 1px inset;
}

@media (max-width: 1069px) {
  #candy {
    visibility: hidden;
    max-width: 300px;
  }
}
@media (min-width: 1070px) {
  #candy {
    max-width: 300px;
  }
}
.inbox {
  width: 554px;
}

.footer {
  width: 100%;
  min-height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
  display: table;
  flex-direction: column;
}
.footer #left {
  padding-left: 30px;
  padding-top: 30px;
  display: table-cell;
}
.footer #center {
  display: table-cell;
}
.footer #right {
  text-align: right;
  display: table-cell;
  padding-right: 10px;
}
.footer a {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #70757a;
  text-decoration: none;
  padding: 10px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer img {
  width: 10px;
}

/*# sourceMappingURL=redoneadvcss.css.map */
